@import "primeng/resources/themes/md-light-indigo/theme.css";
@import "primeng/resources/primeng.css";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "primeicons/primeicons.css";
*{
    font-family: 'Sora', sans-serif;
}

body{
    width: 100%;
    margin: 0%;
}